{% extends 'base.html' %}

{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Студент 1</th>
      <th scope="col">Студент 2</th>
      <th scope="col">Процент схожести</th>
    </tr>
  </thead>
  <tbody>
  {% for el in results_of_checking %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{el.0}}</td>
      <td>{{el.1}}</td>
      <td>{{el.2}} %</td>
    </tr>
  {%endfor%}
  </tbody>
</table>
    
{% endblock %}